/* Main css reset rules
   ========================================================================== */

:root {
    --color-hex-white: #ffffff;
    --color-hex-juicy-citrus: #E1670E;
    --color-hex-citrus: #F90;
    --color-hex-light-citrus: #FFB84D;
    --color-hex-grey: #666666;
    --color-hex-wet-asphalt: #414141;
    --color-hex-light-grey:#CACACA;
    --color-hex-lightgray: #D3D3D3FF;
    --color-hex-black: #000;
}

/*var(--color-hex-citrus)*/

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'),
  url('../fonts/Montserrat-Medium.woff2') format('woff2'),
  url('../fonts/Montserrat-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'),
  url('../fonts/Montserrat-Semibold.woff2') format('woff2'),
  url('../fonts/Montserrat-Semibold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'),
  url('../fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  line-height: normal;
}

button {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: Montserrat, serif;
  line-height: normal;
  background: var(--color-hex-white);
}

/* Helpers
   ========================================================================== */

.flex {
  display: flex;
}

.container-site {
  /*max-width: 1920px;*/
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 75px;
  width: 100%;
}

.section-offset {
  margin-bottom: 50px;
}

.section-huge-offset {
  margin-bottom: 96.8px;
}

/* Header
   ========================================================================== */

.header {
  margin-bottom: 50px;
  border-radius: 0 0 32px 32px;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.10);
}

.header__items {
  max-width: 1920px;
  margin: 0 auto;
  padding: 14px 75px;

  justify-content: space-between;
}

.header__right {
  align-items: center;
  gap: 85px;
}

.nav__list {
  margin: 0;
  padding: 0;
  gap: 85px;

  list-style: none;
}

.nav__link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-hex-black);

  transition: color 0.2s ease-in-out, background-color 0.4s ease-in-out;
}

.nav__link:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-hex-citrus);
  color: var(--color-hex-black);
}

.nav__link:focus {
  outline-offset: 7px;
  outline: 2px solid var(--color-hex-citrus);
  text-decoration: none;
}

.nav__link:active {
  text-decoration: underline;
  text-decoration-color: var(--color-hex-juicy-citrus);;
  color: var(--color-hex-juicy-citrus);;
}

.header__search {
  stroke: black;
  transition: color 0.2s ease-in-out, background-color 0.4s ease-in-out;
}

.header__search rect {
  fill : black;
}

.header__search:hover {
  stroke: var(--color-hex-citrus);
}

.header__search:hover rect {
  fill : var(--color-hex-citrus)
}

.header__search:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-hex-citrus);

  stroke: black;
}

.header__search:active {
  stroke: black;
}

/* Main
   ========================================================================== */
/* Hero
   ========================================================================== */

.hero__block {
  margin-bottom: 50px;
  padding: 100px 80px;

  border-radius: 32px;
  background: var(--color-hex-lightgray) url("../img/first.png") no-repeat left center;
  background-size: cover;
}

.hero__header {
  max-width: 837px;
  margin: 0 0 23px;

  color: var(--color-hex-white);
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.68px;
}

.hero__text {
  max-width: 790px;
  margin-bottom: 88px;

  color: var(--color-hex-white);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero__button {
  padding: 25px 39px;
  border-radius: 16px;

  background: var(--color-hex-citrus);
  cursor: pointer;
  border: 0;

  color: var(--color-hex-white);
  font-size: 23px;
  font-weight: 700;

  transition: color 0.2s ease-in-out, background-color 0.4s ease-in-out;
}

.hero__button:focus {
  background-color: var(--color-hex-light-citrus);
}

.hero__button:hover {
  background-color: var(--color-hex-light-citrus);
}

.hero__button:active {
  background-color: var(--color-hex-juicy-citrus);
}

/* About us
   ========================================================================== */

.about-us {
  margin-bottom: 48px;
}

.about-us__header {
  margin-bottom: 23px;

  color: var(--color-hex-black);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-us__description {
  max-width: 1235px;

  color: var(--color-hex-black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

/* Advantages
   ========================================================================== */

.advantages {
  margin-bottom: 105px;
}

.advantages__groups {
  gap: 32px;
}

.advantages__left-group {
  min-width: 49%;
  border-radius: 32px;

  background: var(--color-hex-lightgray) url("../img/second.png") no-repeat left center;
  background-size: cover;
  align-items: flex-end;
}

.advantages__group {
  width: 100%;
  align-items: center;
  padding: 50px;
  border-radius: 32px;

  background: rgba(0, 0, 0, 0.50);
}

.advantages__text {
  margin-right: 118px;

  color: var(--color-hex-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
}

.advantages__button {
  padding: 19px 35px;

  border-radius: 16px;
  border: 3px solid var(--color-hex-citrus);
  background-color: transparent;
  cursor: pointer;

  color: var(--color-hex-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  transition: color 0.2s ease-in-out, background-color 0.4s ease-in-out;
}

.advantages__button:focus {
  border: 3px solid var(--color-hex-citrus);
  background-color: var(--color-hex-citrus);
}

.advantages__button:hover {
  border: 3px solid var(--color-hex-citrus);
  background-color: var(--color-hex-citrus);
}

.advantages__button:active {
  border: 3px solid var(--color-hex-juicy-citrus);
  background-color: var(--color-hex-juicy-citrus);
}

.advantages__right-group {
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.advantages__right1,
.advantages__right2 {
  align-items: center;
  padding: 65px 60px 60px 300px;

  border-radius: 32px;
  border: 1px solid var(--color-hex-light-grey);
}

.advantages__right1 {
  background-repeat: no-repeat;
  background-position: 8.5% 48.5%;
  background-image: url('../img/package.svg');
}

.advantages__right2 {
  background-repeat: no-repeat;
  background-position: 8.5% 48.5%;
  background-image: url('../img/setting.svg');
}

.advantages__header {
  margin-bottom: 9px;

  color: var(--color-hex-black);

  font-size: 24px;
  font-weight: 700;
}

.advantages__right-text {
  color: var(--color-hex-black);

  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/* Steps
   ========================================================================== */

.steps {
  margin-bottom: 100px;
}

.steps__header {
  margin-bottom: 33px;

  color: var(--color-hex-black);

  font-size: 48px;
  font-weight: 400;
}

.steps__group {
  border-radius: 32px;

  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url("../img/third1920.png");
  background-size: 49% 98%;
  /*background-size: contain;*/
}

.steps__header-third {
  margin-bottom: 8px;

  color: var(--color-hex-black);

  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.steps__texts {
  max-width: 43%;
  margin-bottom: 18px;
}

.steps__text {
  color: var(--color-hex-black);

  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.steps__buttons {
  gap: 32px;
}

.steps__button1,
.steps__button2 {
  padding: 19px 38px;
}

.steps__button1 {
  border-radius: 16px;

  cursor: pointer;
  background: var(--color-hex-citrus);
  border: 0;

  color: var(--color-hex-white);
  font-size: 16px;
  font-weight: 700;

  transition: color 0.2s ease-in-out, background-color 0.4s ease-in-out;
}

.steps__button1:focus {
  background-color: var(--color-hex-light-citrus);
}

.steps__button1:hover {
  background-color: var(--color-hex-light-citrus);
}

.steps__button1:active {
  background-color: var(--color-hex-juicy-citrus);
}

.steps__button2 {
  border-radius: 16px;
  border: 1px solid var(--color-hex-black);

  cursor: pointer;
  background-color: transparent;

  color: var(--color-hex-black);
  font-size: 16px;
  font-weight: 400;

  transition: color 0.2s ease-in-out, background-color 0.4s ease-in-out;
}

.steps__button2:focus {
  background-color: var(--color-hex-grey);

  border: 1px solid var(--color-hex-grey);

  color: var(--color-hex-white);
  font-size: 16px;
  font-weight: 400;
}

.steps__button2:hover {
  background-color: var(--color-hex-grey);

  border: 1px solid var(--color-hex-grey);

  color: var(--color-hex-white);
  font-size: 16px;
  font-weight: 400;
}

.steps__button2:active {
  background-color: var(--color-hex-black);

  color: var(--color-hex-white);
  font-size: 16px;
  font-weight: 400;
}

/* Questions
   ========================================================================== */

.questions {
  margin-bottom: 100px;
}

.questions__header {
  margin-bottom: 32px;

  color: var(--color-hex-black);

  font-size: 48px;
  font-weight: 400;
}

.questions__content {
  gap: 32px;
}

.questions__box {
  max-width: 569px;
  padding: 65px 99px 62px 60px;

  border-radius: 32px;
  border: 1px solid var(--color-hex-light-grey);
}

.questions__header-third {
  margin-bottom: 8px;

  color: var(--color-hex-black);

  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.questions__text {
  color: var(--color-hex-black);

  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/* Footer
   ========================================================================== */

.footer {
  background: var(--color-hex-black);
}

.footer__section {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;

  justify-content: space-between;
  align-items: center;

  padding: 50px 75px;
}

.footer__first-block {
  flex-direction: column;
  justify-content: space-between;

  min-width: 21%;
}

.footer__logo-block {
  margin-bottom: 17px;
}

.footer__nav {
  margin-bottom: 90px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-media {
  gap: 25px;
}

.footer__link {
  position: relative;

  color: var(--color-hex-light-grey);
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;

  transition: color 0.2s ease-in-out, outline-color 0.2s ease-in-out;
}

.footer__link:focus {
  outline-offset: 5px;
  outline: 1px solid var(--color-hex-citrus);

  color: var(--color-hex-light-grey);
}

.footer__link:hover {
  color: var(--color-hex-citrus);
}

.footer__link:active {
  color: var(--color-hex-juicy-citrus);
  outline: none;
}

.footer__link-social{
  fill: var(--color-hex-grey);
}

.footer__link-social:focus {
  fill: var(--color-hex-grey);

  outline-offset: 3px;
  outline: 2px solid var(--color-hex-citrus);
}

.footer__link-social:hover {
  fill: var(--color-hex-citrus);
}

.footer__link-social:active {
  fill: var(--color-hex-juicy-citrus);
}

.footer__second-block {
  flex-direction: column;
  min-width: 30%;
}

.footer__header {
  margin-bottom: 30px;

  color: var(--color-hex-light-grey);
  font-size: 48px;
  font-weight: 400;
}

.footer__form {
  flex-direction: column;
  margin-bottom: 25px;
}

.footer__form-element1,
.footer__form-element2 {
  margin-bottom: 25px;
}

.footer__input {
  min-width: 100%;
  padding: 19px 24px;

  border-radius: 16px;
  border: 0;

  background-color: var(--color-hex-wet-asphalt);
}

.footer__input:focus {
  background-color: var(--color-hex-grey);
}

.footer__input:hover {
  background-color: var(--color-hex-grey);
}

.footer__input:active {
  background-color: var(--color-hex-grey);
}

.footer__input::placeholder {
  color: var(--color-hex-light-grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  z-index: 1;
}

input {
  color: var(--color-hex-white);
}

.footer__message {
  min-height: 150px;
  resize: none;
  line-height: 32px;
}

textarea {
  color: var(--color-hex-white);
}

.footer__buttons {
  gap: 22px;
  align-items: center;
}

.footer__button {
  padding: 19px 52px;

  border: none;
  border-radius: 16px;
  cursor: pointer;
  background: var(--color-hex-citrus);

  color: var(--color-hex-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  transition: color 0.2s ease-in-out, background-color 0.4s ease-in-out;
}

.footer__button:focus {
  background-color: var(--color-hex-light-citrus);
}

.footer__button:hover {
  background-color: var(--color-hex-light-citrus);
}

.footer__button:active {
  background-color: var(--color-hex-juicy-citrus);
}

.footer__checkbox-text {
  color: var(--color-hex-light-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.footer__third-block {
  max-width: 20.5%;
}

.footer__text {
  color: var(--color-hex-light-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
